<h3>An error has happened.</h3>

<h3>We're not dealing with errors in this example app.</h3>

<h3>You must look at the node console.</h3>

<h3>Normally, of course, we would deal with errors better. And inform the user.</h3>

<h3>We will learn about that later.</h3>
