<form action="/update_song_post_route" method="POST">
  <input type="hidden" name="id" value="{{ song._id }}">
  <input name="song_title" value="{{ song.song_title }}" placeholder="Enter the name of the song">
  <br>
  <input name="artist" value="{{ song.artist }}" placeholder="Enter the name of the artist">
  <br>
  <button type="submit">Update song</button>
</form>
